---
import CateringSection from "../components/molecules/CateringSection.astro";
import DoordashButton from "../components/molecules/DoordashButton.astro";
import GallerySection from "../components/molecules/GallerySection.astro";
import Marquee from "../components/molecules/Marquee.astro";
import PromoBar from "../components/molecules/PromoBar.astro";
import QuoteBanner from "../components/molecules/QuoteBanner.astro";
import Countdown from "../components/organisms/Countdown.astro";
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";
import HeroSection from "../components/organisms/HeroSection.astro";
import RaceDetails from "../components/organisms/RaceDetails.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="fixed z-20 top-0 left-0 right-0">
    <PromoBar />
    <Header />
  </div>

  <main class="flex flex-col">
    <!-- Hero -->
    <section class="w-full">
      <HeroSection />
    </section>

    <!-- Quote Banner -->
    <section class="w-full">
      <!-- <QuoteBanner /> -->
    </section>

    <!-- Marquee divider -->
    <section class="w-full">
      <Marquee />
    </section>

    <!-- Race Details -->
    <section class="w-full">
      <RaceDetails />
    </section>

    <!-- Lifestyle / Catering Promo -->
    <section class="w-full">
      <Countdown />
    </section>

    <!-- Gallery (croissants etc.) -->
    <section class="w-full">
      <!-- <GallerySection /> -->
    </section>
  </main>

  <!-- Footer -->
  <section>
    <Footer />
  </section>
  <DoordashButton />
</Layout>
