---
import Button from "../atoms/Button.astro";
import MenuMobile from "../organisms/MenuMobile.astro";
---

<div
  class="md:hidden"
  x-data="{ open: false }"
  x-effect="document.body.style.overflow = open ? 'hidden' : 'auto'"
>
  <div @click="open = !open">
    <Button removePadding startEnhancer="hamburger" variant="ghost" size="sm" />
  </div>

  <div
    x-show="open"
    x-transition:enter="transition transform opacity duration-300 ease-[cubic-bezier(0.22,1,0.36,1)]"
    x-transition:enter-start="translate-y-full opacity-0"
    x-transition:enter-end="translate-y-0 opacity-100"
    x-transition:leave="transition transform opacity duration-250 ease-[cubic-bezier(0.55,0.06,0.68,0.19)]"
    x-transition:leave-start="translate-y-0 opacity-100"
    x-transition:leave-end="translate-y-full opacity-0"
    class="fixed inset-x-0 bottom-0 z-50"
  >
    <MenuMobile />
  </div>
</div>
