---
import site from "../../content/site.json";
---

<section id="nav-links" class="w-full flex items-center justify-between">
  <div>
    <p class="body-14">{site.quoteBanner.eyebrow}</p>
    <h2 class="heading-5">{site.quoteBanner.quote}</h2>
  </div>
</section>
