---
import { header } from "../../content/site.json";
import Button from "../atoms/Button.astro";

const menuItems = [
  ...header.items.slice().reverse(),
  ...header.items.slice().reverse(),
];
---

<div class="h-dvh bg-(--color-menu-background)">
  <div
    class="w-full h-full mx-auto px-8 py-8 flex flex-col justify-center items-center"
  >
    <div class="absolute top-8 right-10" @click="open = !open">
      <Button removePadding startEnhancer="close" variant="ghost" size="sm" />
    </div>
    <div class="border-b border-(--color-border-light)">
      {
        menuItems.map((item: { href: string; label: string }) => (
          <div class="border-t border-(--color-border-light) w-full text-center p-6">
            <Button
              href={item.href}
              variant="ghost"
              size="lg"
              removePadding
              fullWidth
            >
              <h2 class="heading-5 text-(--color-text-inverse) big-text ">
                {item.label.toUpperCase()}
              </h2>
            </Button>
          </div>
        ))
      }
    </div>
  </div>
</div>
