---
import site from "../../content/site.json";
---

<section id="race-details-section" class="w-full h-auto relative">
  <div class="grid grid-cols-1 lg:grid-cols-4 w-full">
    {
      site.raceDetails.details.map((e) => (
        <div class="group w-full h-full py-10 px-4 md:py-18 md:px-10 flex flex-col items-center gap-2 bg-(--color-race-details-background) hover:bg-(--color-secondary) ">
          <img
            src={`/icon/${e.icon}.svg`}
            alt=""
            style="width: 50px; height: 50px;"
          />
          <div class="flex flex-col items-center gap-0">
            <h3 class="heading-3 group-hover:text-(--color-text-inverse)">
              {e.title}
            </h3>
            <p class="body-16 group-hover:text-(--color-text-inverse) text-center">
              {e.body}
            </p>
          </div>
        </div>
      ))
    }
  </div>
</section>
